:root {
  --primary: #8a2be2;
  --primary-light: #b19cd9;
  --primary-lighter: #a45deb;
  --primary-dark: #6a1b9a;
  --text-color: #ffffff;
  --text-color-secondary: #ffffffb6;
  --text-color-thirdly: #ffffff5b;
  --background: #0f0c1d;
  --background-darker: #1a1426;
  // --background-lighter: #1a2332;
  --background-lighter: #2a2438;
  --background-50: #0f0c1d80;
  --bg-shadow-color: #0f0c1d;
  --fg-shadow-color: #6527a0;
  --primary-transparent: #8a2be230;

  // Action Colors
  --info: #04e4f4;
  --success: #20e253;
  --warning: #f6f000;
  --error: #fca016;
  --danger: #f80363;
  --neutral: #272f4d;
}

html[data-theme="light"] {
  --primary: #8a2be2;
  --primary-light: #b19cd9;
  --primary-lighter: #a45deb;
  --primary-dark: #6a1b9a;
  --text-color: #333333;
  --text-color-secondary: #57667e;
  --background: #f8f6ff;
  --background-darker: #eae6f7;
  --background-lighter: #f0eeff;
  --bg-shadow-color: #eae6f7;
  --fg-shadow-color: #6527a0;
  --primary-transparent: #8a2be233;
}
